/* Dish Card */
.DishCard {
    display: grid;
    grid-template-rows: 220px auto 60px;
    height: 620px;
    background: var(--greyColor);
    border-radius: 16px;
    transition: .4s ease;
}
.DishCard:hover {
    background: rgb(174, 174, 174);
    transition: .4s ease;
}

.DishImage {
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
}

.dish-details {
    display: grid;
    grid-template-rows: 80px 80px;
    padding: 20px;
}
.dish-title-cost-box{
    display: grid;
    grid-template-columns: 180px auto;
    align-items: top;
    justify-content: space-between;
}

.delivery-btn-box{
    height: 100%;
    width: 100%;
}
.delivery-btn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    gap: 20px;
    border: none;
    border-radius: 0 0 16px 16px;
    font-family: var(--karla);
    font-size: 14pt;
    font-weight: regular;
    color: var(--primaryColor);
    background: transparent;
    transition: .2s ease;
}
.DishDeliveryIcon {
    padding: 0;
    font-size: 24px;
}
.delivery-btn:hover{
    background: var(--secondaryColor);
    transition: .2s ease;
}