.order-popup {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-popup-container{
  padding: 20px;
}

.order-card {
  position: relative;
  max-width: 860px;
  height: 680px;
  background: var(--greyColor);
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto auto 60px;
}

.order-popup-close-icon {
  position: absolute;
  color: var(--primaryColor);
  font-size:32px;
  left: 94%;
  top: 1%;
  transition: .2s ease;
}

.order-popup-close-icon:hover {
  color: var(--secondaryColor);
  transition: .2s ease;
}

.order-card-image {
  object-fit: cover;
  width: 100%;
  height: 380px;
  border-radius: 16px 16px 0 0;
}

.order-card-item-details{
  padding: 20px;
  display: grid;
}

.order-card-qty-price{
  display: grid;
  grid-template-columns: 40px 120px auto;
  align-items: center;
  gap: 20px;
  font-family: var(--karla);
  font-size: 18px;
  font-weight: 500;
}
.order-card-item-qty-label{
  color: var(--primaryColor);
}
.order-card-item-qty-input{
  color: var(--primaryColor);
  font-family: var(--karla);
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  padding-left: 10px;
  width: 40px;
  background: var(--greyColor);
  border-radius: 8px;
  border: 2px solid var(--primaryColor);
  outline: none;
}
.order-card-qty-price{
  color: #FF5C00;
}

.order-card-btn-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.order-card-btn{
  font-family: var(--karla);
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor);
  color: white;
  border: none;
  transition: .2s ease;
  width: 100%;
  height: 100%;
}
.order-card-btn-left{
  border-radius: 0 0 0 16px;
}
.order-card-btn-right{
  border-radius: 0 0 16px 0;
}
.order-card-btn-icon{
  font-size: 24px;
}

.order-card-btn:hover{
  background: var(--secondaryColor);
  color: var(--primaryColor);
  transition: .2s ease;
}
.order-card-btn-box-profile{
  display: grid;
  grid-template-columns: 1fr;
}
.order-card-btn-order-profile{
  border-radius: 0 0 16px 16px;
}