.active {
    border-bottom: 2px solid var(--secondaryColor);
}
.navbar {
    position: relative;
}

.Navigation menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
}

.Navigation li {
    justify-self: end;
}

.navMenu li {
    list-style-type: none;
    font-family: var(--karla);
    font-size: 14pt;
    font-weight: medium;
}

.nav-item {
    color: var(--primaryColor);
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item:hover {
    color: var(--secondaryColor);
}

/* disabled */
.navHamburg {
    display: none;
}

.hamburgerNav {
    display: none;
}

/* media Query */
@media screen and (max-width: 920px) {
    .Navigation {
        display: none;
    }

    .navHamburg {
        display: block;
        color: var(--primaryColor);
        font-size: 42px;
    }
    .navHamburg:hover {
        color: var(--secondaryColor);
        cursor: pointer;
    }
    
    .hamburgerNav {
        display: grid;
        grid-template-rows: 100px auto;
        position: absolute;
        background: white;
        top: 0;
        right: 0;
        padding: 20px;
        height: 500px;
        width: 200px;
        border-radius: 0 0 0 32px;
    }

    .hamburgerNav menu {
        display: grid;
        grid-template-rows: auto;
        justify-content: start;
    }

    .hamburgerNav li {
        padding: 0;
        justify-self: start;
    }
}